.Footer {
    background-color: #775842;
    text-align: center;
    color: white;
    font-size: 14px;
    width: 100%;
    bottom:0;
    padding-left: 15%;
    padding-right: 15%;
}

.vertical-align{
    vertical-align: middle; 
    line-height: 25px;
}